/* General styles */

* {
  box-sizing: border-box;
}

body {
  color: #1f435e;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25rem;
  margin: 0;
}

h1,
h2 {
  font-family: 'Bowlby One', cursive;
}

input,
select {
  font-family: inherit;
  font-size: inherit;
}

li {
  list-style-type: square;
}
button,
.submitButton {
  background-color: #28abb9;
  border: none;
  border-radius: 5px;
  color: #d6f3f6;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

/* Welcome page */

.welcome {
  display: flex;
}

.welcome-left,
.welcome-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.welcome-left {
  background-color: #a8dda8;
}

.welcome-right {
  background-color: #d6f3f6;
}

.headline {
  color: #2d6187;
  font-size: 3rem;

  margin: 0;
}

.subhead {
  color: #2d6187;
  font-size: 1.5rem;
  margin: 0 0 40px;
}

/* Loading, unauthorized  */

.loading {
  align-items: center;
  background-color: #d6f3f6;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.unauthorized {
  color: #ff5483;
  margin: auto;
  text-align: center;
  width: 50%;
}

.errorPage {
  align-items: center;
  color: #2d6187;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.errorImage {
  width: 33%;
}

/* User view */

.userView {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sidebar {
  background-color: #2d6187;
  color: #d6f3f6;
  padding: 0 20px 20px;
  width: 100%;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logout {
  max-width: 150px;
}

/* Dashboard */

.dashboard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.projects,
.team {
  flex-basis: 50%;
  padding: 0 20px 40px;
}

.projects {
  background-color: #a8dda8;
}

.team {
  background-color: #d6f3f6;
}

.teamHeader,
.projectHeader {
  color: #2d6187;
}
.teamList,
.projectList {
  list-style: none;
  padding: 0 10px;
}

.teamMember,
.project {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.project {
  flex-direction: column;
}

.projectMeta {
  display: flex;
  justify-content: space-between;
}

.memberData {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0;
}

.projectData {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.name,
.projectTitle {
  font-weight: bold;
  max-width: 200px;
}

.projectTitle {
  padding-top: 10px 0;
}

.edit,
.delete {
  margin: 0 5px;
  padding: 10px;
  width: 40px;
}

/* Modal */

.modal {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.teamModal,
.projectModal {
  background: #d6f3f6;
  border-radius: 10px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

/* Form */

.teamInput,
.projectInput {
  border-radius: 6px;
  -webkit-appearance: none;
  border: 2px #28abb9;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

.closeButton {
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
}

.open {
  display: block;
}

.closed {
  display: none;
}

.warning {
  color: #ff5483;
}

/* Media queries */

@media screen and (min-width: 550px) {
  .user {
    flex-direction: row;
  }

  .teamList,
  .projectList {
    padding: 0 40px;
  }
}

@media screen and (min-width: 780px) {
  .dashboard {
    flex-direction: row;
  }
}

@media screen and (min-width: 1152px) {
  .sidebar {
    width: 25%;
  }

  .user {
    flex-direction: column;
  }

  .userView {
    flex-direction: row;
  }

  .dashboard {
    width: 75%;
  }
}

/* app colors 
light-green: #a8dda8
pale-lime: #effad3
medium-blue: #2d6187
aqua: #28abb9
#d6f3f6
*/
